name: pointnet_stable
channels:
  - conda-forge
  - pytorch
  - defaults
dependencies:
  - python=3.8
  - nomkl
  - numpy
  - scipy
  - tqdm
  - pytorch>=1.7.0
  - torchvision
  - torchaudio
  - cpuonly
  - pip
  - pip:
    - plyfile
